*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: rgb(14, 14, 39);
    background: white;
}
.container{
    max-width: 500px;
    margin: 50px auto;
    overflow: auto;
    border: black 1px solid;
    font-weight: 300;
    border-radius: 10px;
    padding: 30px;
    min-height: 300px;
}
.header h1{
    color: rgb(23, 7, 7);
    font-size: 1.5rem;
    font-weight: 900;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.btn{
    font-weight: 500;
    padding: 10px 20px;
    border: none;
    display: inline-block;
    background: rgb(2, 137, 33);
    color: white;
    border-radius: 5px;
    font-size: 15px;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;

}
.task {
    background: rgb(250, 242, 242);
    margin: 10px;
    padding: 10px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.task.reminder{
    border-left: 5px green solid;
}
.imgs{
    width: 20px;
    height: 20px;
}
.btn2{
    width: 100%;
    padding: 8px 10px;
    background: black;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: inherit;

}
.input-block{
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    border: 0.5px solid black;
    
}
.form-control{
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 200%;
}
.form-control-check{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-left: 200px;
    margin-top: 10px;
    background: green;
}